/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 4.375rem;
    background: #3f1d2d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
/* Common */
h2{
    color: #fff;
    padding: 1.875rem 0;
}

.weight700{
    font-weight: 700;
}

.stilebtn{
    background-color: #811336;
    color: #fff;
    border: 1px solid #3f1d2d;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container, .containerBiglietto{
    width: 835px;
    background-color: #fff;
    height: 191px;
    margin: 0 auto;
    padding: 10px 30px;
    box-shadow: 0px 10px 13px -5px #ee4540;
}
.displayFlex{
    display: flex;
}
.flex-d{
    display: flex;
    flex-direction: column;
}

/* Inizio Header */
header, main{
    text-align: center;
}
.container{
    border-radius: 10px;
    margin-bottom: 30px;
}
.calcolo{
    display: flex;
    justify-content: center;
    gap: 65px;
    padding: 15px 0;
}
.box{
    color: #3f1d2d;
    font-weight: 600;
    display: flex;
    gap: 70px;
    padding-bottom: 20px;
}
label{
    padding-bottom: 15px;
}
.miniBox{
    border: 1px solid #3f1d2d;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    margin-top: 10px;
}

/* Fine Header */



/* Inizio Main */
.displayNone{
    display: none;
}
.displayshow, .text{
    display: block;
}
main{
    margin-top: 10px;
}
.text{
    font-size: 20px;
    text-align: start;
}

.boxinfo{
    justify-content: space-around;
    width: 568px;
}

.ticketbox{
    height: 125px;
    border: 1px solid #510a32;
}
.boxnome{
    text-align: start;
    padding: 20px 20px;
    flex-direction: column;
    background-color: #510a32;
    color: #fff;
}
.miniboxinfo{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    justify-content: space-between;
}
/* Fine Main */

/* Hover */
.stilebtn:hover{
    color: #ee4540;
    box-shadow: 0px 0px 17px 6px  #ee4540;
    cursor: pointer;
    background-image: linear-gradient(90deg, #510a32 0%, #811336 49%, #811336 80%, #510a32 100%);
     animation: slidebg 5s linear infinite;
}
.miniBox:focus{
    box-shadow: 0px 0px 17px 1px  #ee4540;
    outline: none;
}

/* Animazione copiata e incollata da internet Palese */
@keyframes slidebg {
    to {
      background-position:20vw;
    }
  }
  
  .follow{
    margin-top: 40px;
  }
  
  .follow a{
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }